<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="../../Logs/internal-nlog.txt">

  <!-- define various log targets -->
  <targets async="true">
    <!-- write logs to file -->
    <target xsi:type="File" name="apiRequestLogs" fileName="../../Logs/customers-api-requests-${date:format=yyyyMMdd}.log.json" 
            layout= "${message}"
            archiveEvery="Day"
            maxArchiveFiles= "14"/>
    <target xsi:type="File" name="applicationLogs" fileName="../../Logs/customers-application-${date:format=yyyyMMdd}.log.json"
            archiveEvery="Day"
            maxArchiveFiles= "14">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="Timestamp" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fffZ}"/>
        <attribute name="Logger" layout="${logger}"/>
        <attribute name="Level" layout="${uppercase:${level}"/>
        <attribute name="ThreadId" layout="${threadid}"/>
        <attribute name="Message" layout="${message}"/>
        <attribute name="Exception" layout="${exception:format=ToString,StackTrace}"/>
      </layout>
    </target>
    <target xsi:type="Console"
        name="consoleTarget"
        detectConsoleAvailable="false" >
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="Timestamp" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fffZ}"/>
        <attribute name="Logger" layout="${logger}"/>
        <attribute name="Level" layout="${uppercase:${level}"/>
        <attribute name="ThreadId" layout="${threadid}"/>
        <attribute name="Message" layout="${message}"/>
        <attribute name="Exception" layout="${exception:format=ToString,StackTrace}"/>
      </layout>
    </target>
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="RequestLogger" minlevel="Debug" writeTo="apiRequestLogs" final="true"/>
    <logger name="CustomersApi.*" minlevel="Debug" writeTo="applicationLogs" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="consoleTarget" />
  </rules>
</nlog>
